---
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export async function getStaticPaths({ paginate }) {
  return await getStaticPathsBlogList({ paginate });
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout
  metadata={metadata}
  actions={[
    {
      variant: 'secondary',
      text: 'Записаться на вебинар',
      href: 'https://start.bizon365.ru/room/161173/647829?mcp_token=eyJwaWQiOjgxOTUzMCwic2lkIjoxMTY5NTczMTMwLCJheCI6IjBmMjk1YzE1YWQyZmY4ZmNjMDVkNjAxNDM5NDkwYWE2IiwidHMiOjE2OTkyMDA5MzQsImV4cCI6MTcwMTYyMDEzNH0.hFrIDTbJClwevU4rYTxIN-gyF3EE7qvrDHAbau410As',
      target: '_blank',
      icon: 'tabler:check',
    },
  ]}
>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline subtitle="Тот самый мини-курс, который станет стартов твоей взрывной АйТи Карьеры! ">
      Тот самый Мини-Курс 🚀
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
